*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
margin:0;
font-family: Arial;
}

.navbar {
    background: #2f7f8a;
    padding: 15px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.logo:hover{
  background-color:#245e66;
}

.lang {
    margin-left: auto;
    color: white;
}

.list:hover {
  background-color:#245e66;
}
/*navi bar styling*/

#mainhomepage {
  background-image: url(img/bannerbesar.jpg);
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
  height: 120vh;
  text-align: left;


  display:flex;
  justify-content:flex-start;
  align-items:center;

  padding-left:60px; 
}

.texthomepg {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
}

#about-us {
  background-color:rgb(73, 136, 117);
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
  height: 50vh;
  text-align: left;


  display:flex;
  justify-content:flex-start;
  align-items: flex-start;

  padding-left:60px; 
  padding-top: 60px;
}